$colorRedPk: #ff3334;
$colorBlue: #01ffff;
$secondBlue: #01daf9;

$inputBox: #8dc73f;

$greyDirection: #464646;

$greenButton: #187934;
$bgGreenButton: #37b549;

$greyBox:#f2f2f2;
$greyArrow: #272727;
$whiteBox: #ffffff;
$text: VT323;
