$colorRedPk: #ff3334;
$colorBlue: #01ffff;
$secondBlue: #01daf9;
$whiteBox: #ffffff;
$inputBox: #8dc73f;
$greyBox: #636363;
$greyDirection: #464646;
$greyArrow: #272727;
$greenButton: #187934;
$bgGreenButton: #37b549;

$text: VT323;
