$poison: #A040A0;
$grass: #78C850 ;
$fire: #F08030;
$water: #6890F0;
$flying: #A890F0 ;
$bug: #A8B820;
$normal: #A890F0 ;
$electric: #F8D030;

$colorRedPk: #ff3334;
$colorBlue: #01ffff;
$secondBlue: #01daf9;
$greyDirection: #464646;
$greyBox:#f2f2f2;
$greyArrow: #272727;
$whiteBox: #ffffff;
