* {
	margin: 0;
	padding: 0;
}
body {
	background: $colorRedPk;
}
.box__container, .pk__modal {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pk__title {
	text-transform: capitalize;
}
.pk__img--card {
	width: 100%;
	-ms-interpolation-mode: nearest-neighbor; // IE 7+ (non-standard property)
	image-rendering: -webkit-optimize-contrast; // Safari 6, UC Browser 9.9
	image-rendering: -webkit-crisp-edges; // Safari 7+
	image-rendering: -moz-crisp-edges; // Firefox 3.6+
	image-rendering: -o-crisp-edges; // Opera 12
	image-rendering: pixelated; // Chrome 41+ and Opera 26+
}
.pk__type {
	margin: 7px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.pk__type--box {
	width: 33%;
	margin: 5px;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
	color: $whiteBox;
	transition: opacity 0.3s;
	&:hover {
		opacity: 0.5;
	}
}

.box__paper {
	height: 250px;
	width: 200px;
	margin: 20px;
	text-align: center;
	display: inline-block;
	transition: transform 1s ease-out, box-shadow 1s ease-out;
	&:hover {
		transform: rotateX(10deg);
		box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px !important;
	}
}

//CSS Pokemon Tipes
.pk__type--poison {
	background: $poison;

}
.pk__type--grass {background: $grass;}
.pk__type--fire {background: $fire;}
.pk__type--water {background: $water;}
.pk__type--flying {background: $flying;}
.pk__type--bug {background: $bug;}
.pk__type--normal {background: $normal;}
.pk__type--electric {background: $electric;}

.pk__type--profile {
	line-height: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid {
	margin: 0 !important;
	justify-content: center;
}
.grid > div {
	width: auto !important;
	perspective: 850px;
}
.pk__modal--paper {
	margin: 20px;
	text-align: center;
	height: 200px;
	width: 200px;
	background: linear-gradient(-180deg, red 50%, white 50%);
}
