* {
	margin: 0;
	padding: 0;
}
body {
	background: url('../img/background.jpg') center;
	background-size: cover;
}
.box__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box__input {
	background: $whiteBox;
	border-radius: 8px;
	width: 220px;
	height: 25px;
	border-style: none;
	padding-left: 5px;
	margin: 25px;
	text-align: center;
	@media all and(min-width: 800px){
		width: 420px;
	}
}
.pk__box {
	background: $whiteBox;
	color: $greyArrow;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	border-radius: 20px;
	p {
		margin: 7px;
	}
	span {
		font-size: 14px;
		margin-bottom: 7px;
	}
	@media all and(min-width: 650px){
		margin-right: 25px;
	}
}
.pk__img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	//background: $greyBox;
}
.pk__img--poison {
	background: $poison;
}
.pk__img--grass {
	background: $grass;
}
.pk__img--fire {
	background: $fire;
}
.pk__img--water {
	background: $water;
}
.pk__img--flying {
	background: $flying;
}
.pk__img--bug {
	background: $bug;
}
.pk__img--normal {
	background: $normal;
}
.pk__img--electric {
	background: $electric;
}
