* {
	margin: 0;
	padding: 0;
	background: url('../img/background.jpg') ;
	background-size: cover;
}
.box__container {
	display: flex;
	justify-content: center;
}
.box__input {
	background: $whiteBox;
	border-radius: 8px;
	width: 210px;
	height: 25px;
	border-style: none;
	padding-left: 5px;
	margin: 25px;
	text-align: center;
}
