* {
	margin: 0;
	padding: 0;
}
body {
	background: $colorRedPk;
}
.box__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box__input {
	background: $whiteBox;
	border-radius: 8px;
	width: 220px;
	height: 25px;
	border-style: none;
	padding-left: 5px;
	margin: 25px;
	text-align: center;
	@media all and(min-width: 800px){
		width: 420px;
	}
}
.pk__box {
	background: $whiteBox;
	color: $greyArrow;
	font-family: $Roboto;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	border-radius: 20px;
	padding: 15px;
	h3 {
		text-align: center;
	}
	@media all and(min-width: 650px){
		margin-right: 25px;
	}
}
.pk__img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	border-radius: 50%;
	background: linear-gradient(-180deg, red 50%, white 50%);
	border: solid;
}
.pk__type {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.pk__type--box {
	margin: 5px;
	padding: 5px;
	text-align: center;
	color: $whiteBox;
	border-radius: 7px;
}
.pk__type--poison {
	background: $poison;
}
.pk__type--grass {
	background: $grass;
}
.pk__type--fire {
	background: $fire;
}
.pk__type--water {
	background: $water;
}
.pk__type--flying {
	background: $flying;
}
.pk__type--bug {
	background: $bug;
}
.pk__type--normal {
	background: $normal;
}
.pk__type--electric {
	background: $electric;
}
