//Header
.box__header {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
// .box__circle--ext {
// 	width: 30px;
// 	height: 30px;
// 	background: $colorRedPk;
// 	margin-top: 7px;
// 	border-radius: 50%;
// 	border-style: solid;
// 	border-width: medium;
// 	@media all and(min-width: 400px){
// 		width: 60px;
// 		height: 60px;
// 	}
// }
// .box__circle--int {
// 	width: 24px;
// 	height: 24px;
// 	background: $colorBlue;
// 	margin: 2px;
// 	border-radius: 50%;
// 	border-style: solid;
// 	border-width: thin;
// 	@media all and(min-width: 400px){
// 		width: 54px;
// 		height: 54px;
// 	}
// }
.box__tittle {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-family: $text;
	font-size: 16px;
	margin-top: 7px;
	padding: 2px;
	@media all and(min-width: 400px){
		font-size: 24px;
	}
}
.img__pokeball{
	width: 45px;
	height: 45px;
	padding-right: 10px;
	padding-left: 10px;
	@media all and(min-width: 400px){
		width: 60px;
		height: 60px;;
	}
}
