@import url("https://fonts.googleapis.com/css?family=VT323");
.box__tittle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: VT323;
  font-size: 16px;
  margin-top: 7px;
  padding: 2px; }
  @media all and (min-width: 400px) {
    .box__tittle {
      font-size: 24px; } }

.img__pokeball {
  width: 45px;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px; }
  @media all and (min-width: 400px) {
    .img__pokeball {
      width: 60px;
      height: 60px; } }

* {
  margin: 0;
  padding: 0; }

body {
  background: #FFEBEE; }

.box__container, .pk__modal {
  display: flex;
  flex-direction: column;
  align-items: center; }

.pk__title {
  text-transform: capitalize; }

.pk__img--card {
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; }

.pk__type {
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.pk__type--box {
  width: 33%;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
  transition: opacity 0.3s; }
  .pk__type--box:hover {
    opacity: 0.5; }

.box__paper {
  height: 250px;
  width: 200px;
  margin: 20px;
  text-align: center;
  display: inline-block;
  transition: transform 1s ease-out, box-shadow 1s ease-out; }
  .box__paper:hover {
    transform: rotateX(10deg);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px !important; }

.pk__type--poison {
  background: #A040A0; }

.pk__type--grass {
  background: #78C850; }

.pk__type--fire {
  background: #F08030; }

.pk__type--water {
  background: #6890F0; }

.pk__type--flying {
  background: #A890F0; }

.pk__type--bug {
  background: #A8B820; }

.pk__type--normal {
  background: #9c9c63; }

.pk__type--electric {
  background: #F8D030; }

.pk__type--profile {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.grid {
  margin: 0 !important;
  justify-content: center; }

.grid > div {
  width: auto !important;
  perspective: 850px; }

.pk__modal--paper {
  margin: 20px;
  text-align: center;
  height: 200px;
  width: 200px;
  background: linear-gradient(-180deg, red 50%, white 50%); }
