@import url("https://fonts.googleapis.com/css?family=VT323");
* {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/background.jpg");
  background-size: cover; }

.box__container {
  display: flex;
  justify-content: center;
  align-items: center; }

.box__input {
  background: #ffffff;
  border-radius: 8px;
  width: 210px;
  height: 25px;
  border-style: none;
  padding-left: 5px;
  margin: 25px;
  text-align: center; }

.pk__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: blue;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 25px; }

.pk__card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center; }
