@import url("https://fonts.googleapis.com/css?family=VT323");
.box__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.box__line--inf {
  width: 146px;
  border-bottom-style: double;
  border-bottom-right-radius: 33px; }

.box__circle--ext {
  width: 60px;
  height: 60px;
  background: #ff3334;
  margin-top: 7px;
  margin-left: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: medium; }

.box__circle--int {
  width: 53px;
  height: 53px;
  background: #01ffff;
  margin: 2px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin; }

.box__tittle {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: VT323;
  font-size: 20px;
  margin-top: 30px;
  padding: 2px;
  border-top-style: double;
  border-color: #464646;
  width: 172px;
  border-top-left-radius: 24px; }

.img__pokeball {
  width: 45px;
  height: 45px;
  padding-right: 10px; }

.box__footer {
  position: fixed;
  background: #636363;
  border-style: double;
  border-radius: 25px;
  margin: 12px; }

.box__footer--input {
  font-family: VT323;
  font-size: 22px;
  padding-left: 8px;
  background-color: #8dc73f;
  border-radius: 25px;
  width: 270px;
  margin: 5px;
  border-style: double; }

.box__footer--components {
  display: flex;
  flex-direction: row; }

.img__control {
  width: 60px;
  height: 60px;
  margin: 10px; }

.box__footer--descrition {
  height: 70px;
  width: 120px;
  font-family: VT323;
  font-size: 22px;
  background-color: #8dc73f;
  border-style: double; }

.box__footer--creator {
  font-family: VT323;
  font-size: 14px;
  color: #272727;
  display: flex;
  justify-content: center; }
  .box__footer--creator a {
    text-decoration: none;
    color: inherit; }

.button__footer {
  margin-left: 10px;
  display: flex;
  flex-direction: column; }

.btn__footer {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center; }
  .btn__footer .img__x {
    width: 15px;
    height: 15px; }
  .btn__footer .img__ok {
    width: 23px;
    height: 23px; }

.btn__footer--delete {
  width: 30px;
  height: 30px;
  background-color: #ff3334;
  margin-left: 8px; }

.btn__footer--ok {
  width: 37px;
  height: 37px;
  background-color: #37b549;
  margin-left: 30px; }

* {
  margin: 0;
  padding: 0; }

body {
  background: #ff3334; }
